.add-job-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-job-form-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 2.5rem;
  width: 100%;
  background-color: transparent;
  margin: 0 auto 2rem auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.add-job-form-container-item-weight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  width: 100%;
  background-color: transparent;
  margin: 0 auto 2rem auto;
  cursor: pointer;
}

.add-job-form-field-weight {
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weight {
  margin: 0;
  padding: 0;
}

.clicked {
  background-color: var(--turquoise);
}

.add-job-form-label {
  font-size: 0.75rem;
  position: absolute;
  top: 0.5rem;
  left: 0;
  background-color: rgb(255, 255, 255);
  padding: 0.2rem 0.4rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.add-job-form-field {
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 1rem;
  padding: 0 0.5rem;
  --moz-appearance: none;
  --webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.add-job-form-field-checkbox {
  margin: 0.5rem auto;
}

.add-job-delete-all-fields-btn {
  display: block;
}
