.dashboard-summary-invoicing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto 0.5rem auto;
}

.dashboard-summary-invoicing-left {
  width: 48%;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 0.3rem;
}

.dashboard-summary-invoicing-right {
  width: 48%;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 0.3rem;
}

.dashboard-summary-counts {
  width: 100%;
  height: 2rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 1rem; */
  padding: 0.3rem;
  border-radius: 5px;
}

.dashboard-summary-counts-container {
  display: flex;
  justify-content: center;
}

.dashboard-summary-counts-icon {
  font-size: 1.15rem;
  margin-right: 0.4rem;
}

.dashboard-archive-btn {
  background-color: #f73636;
  border: none;
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 5px;
  height: 2rem;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.85rem;
}

.dashboard-jobs {
  margin-top: 2rem;
}
