.dashboard-summary-invoicing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboard-summary-invoicing-container {
  width: 48%;
  background-color: var(--counts);
  color: var(--text-black);
  border-radius: 5px;
  padding: 0.3rem;
  text-align: center;
}

.dashboard-summary-invoicing-heading {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.dashboard-summary-invoicing-count {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.vis-hidden {
  visibility: hidden;
}

.dashboard-summary-counts {
  width: 100%;
  background-color: var(--counts);
  color: var(--text-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  padding: 0.3rem;
  border-radius: 5px;
}

.dashboard-summary-counts-container {
  display: flex;
  justify-content: center;
}

.dashboard-summary-counts-icon {
  font-size: 1.15rem;
  margin-right: 0.4rem;
  color: var(--text-black);
}

.dashboard-archive-btn {
  background-color: #f41f41;
  border: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--text-white);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.85rem;
}

.dashboard-jobs {
  margin: 1.5rem auto 5rem auto;
}
