.change-email-password-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-email-password-header-title {
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: bold;
}

.change-email-password-header-sub-title {
  color: whitesmoke;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  font-style: italic;
}

.change-email-password-user-email {
  color: whitesmoke;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.change-email-password-form {
  margin-top: 3rem;
}

.change-email-password-form-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.change-email-password-form-item-container-email {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.change-email-password-form-item-container-password {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.warning-container {
  height: 0.8rem;
}

.warning-message {
  text-align: center;
  font-weight: bold;
  max-width: 19ch;
  color: whitesmoke;
  background-color: rgb(206, 0, 0);
  font-size: 0.76rem;
  padding: 0.12rem 0;
  border-radius: 5px;
  margin: 0 auto;
}

.change-email-password-form-item-container-label {
  color: whitesmoke;
  /* margin: 0 auto; */
}

.change-email-form-item-container-input {
  height: 2rem;
  text-align: center;
  font-size: 0.9rem;
  min-width: 50%;
  max-width: 50%;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
}

.change-email-password-form-item-container-input {
  height: 2rem;
  text-align: center;
  font-size: 0.9rem;
  min-width: 100%;
  max-width: 100%;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  margin-bottom: 1rem;
}

.delete-account-code {
  color: red;
  background-color: whitesmoke;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  letter-spacing: 0.3rem;
}
