.archive-month-summary {
  margin-top: 0.5rem;
}

.archive-month-summary-container {
  background-color: lightgray;
  padding: 0.5rem;
  border-radius: 10px;
}

.archive-month-summary-one-line {
  display: flex;
  justify-content: space-between;
}

.archive-month-summary-item {
  font-size: 0.9rem;
}

.archive-month-summary-send-data-by-email {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
  color: rgb(32, 32, 252);
}
