.archive-month-job {
  margin: 2rem auto;
  font-size: 0.9rem;
}

.archive-month-job-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: lightgray;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
}

.archive-month-job-second-job-icon {
  display: block;
  font-size: 1rem;
  color: var(--red);
}

.archive-month-holiday-job-icon {
  display: block;
  font-size: 0.95rem;
  color: var(--red);
}

.archive-month-job-second-waiting-icon-container {
  display: flex;
  align-items: center;
  color: var(--red);
}

.archive-month-job-second-waiting-count {
  display: inline-block;
}
