/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-field-container {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.input-field-label {
  font-weight: bold;
  color: var(--white-2);
  margin-bottom: 0.3rem;
}

.input-field-sub-label {
  font-size: 0.85rem;
}

.input-field-delete-code {
  background-color: var(--red);
  margin-left: 1rem;
  padding: 0.05rem 0.2rem;
}

.input-field-field {
  min-width: 100%;
  max-width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  border: none;
  border-radius: inherit;
  background-color: var(--white-2);
  color: var(--blue-2);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.date {
  width: 20px;
}

.input-field-field:focus {
  box-shadow: 0 0 7px var(--green);
  border: solid 3px var(--green);
}

.input-field-field:invalid {
  border: solid 2px var(--red);
}

.input-field-weight-container {
  margin: 1.3rem auto 1.5rem auto;
  display: flex;
  justify-content: space-between;
}

.input-field-weight {
  width: 40%;
  height: 2.5rem;

  border: none;
  border-radius: 5px;
  background-color: var(--white-2);

  color: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
}

.weight-text {
  font-size: 0.7rem;
}

.weight-text-clicked {
  font-size: 1rem;
}

.input-field-weight-clicked {
  background-color: var(--green);
  color: var(--white-2);
  font-size: 1rem;
}

.input-field-checkbox-container {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: inherit;
  background-color: var(--white-2);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field-flex-container {
  width: 100%;
  display: flex;
}

.input-field-field-password {
  min-width: 85%;
  max-width: 85%;
  height: 2.5rem;
  padding: 0 0.5rem;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--white-2);
  color: var(--blue-2);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.show-password-btn {
  width: 15%;
  background-color: var(--white-2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid rgb(223, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.show-password-btn-clicked {
  background-color: rgb(223, 222, 222);
}

.input-field-field-reference-id {
  min-width: 80%;
  max-width: 70%;
  height: 2.5rem;
  padding: 0 0.5rem;
  border: none;
  border-radius: none;
  background-color: rgb(226, 226, 226);
  color: var(--blue-2);
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  cursor: not-allowed;
}

.copy-reference-id-left {
  width: 10%;
  background-color: var(--white-2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reset-reference-id-right {
  width: 10%;
  background-color: var(--white-2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input-field-search-container {
  border-radius: inherit;
  width: 100%;
}

.input-field-search-delete-btn-container {
  height: 100%;
  width: 15%;
}

.input-field-search-delete-btn {
  height: 2rem;
  right: 10px;
  cursor: pointer;
}

.input-field-field-search {
  min-width: 80%;
  max-width: 80%;
  height: 2.5rem;
  padding: 0 0.5rem;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--white-2);
  color: var(--blue-2);
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

.input-field-field-search-left {
  width: 10%;
  background-color: var(--white-2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input-field-field-search-right {
  width: 10%;
  background-color: var(--white-2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-bar-magnifying-glass {
  color: gray;
}
