.one-job {
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

/* JOB'S HEADER */

.one-job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background: linear-gradient(
    180deg,
    rgb(201, 201, 201) 0%,
    rgba(255, 255, 255, 0.7903361173570991) 100%
  );
  font-size: 0.85rem;
  font-weight: bold;
  color: rgb(92, 92, 92);
  font-size: 0.7rem;
}

.one-job-header-copy-to-clipboard-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  cursor: pointer;
}

.one-job-header-edit-btn {
  width: 1.5rem;
  text-align: left;
  /* background-color: rgba(172, 255, 47, 0.397); */
  cursor: pointer;
}

.one-job-header-delete-btn {
  width: 1.5rem;
  text-align: right;
  /* background-color: rgba(172, 255, 47, 0.397); */
  cursor: pointer;
  position: relative;
}

.delete-job-btn {
  cursor: pointer;
}

.one-job-expand-btn {
  position: absolute;
  right: 0rem;
  bottom: -100%;
  cursor: pointer;
}

.one-job-expand-btn-opened {
  transform: scaleY(-1);
}

/* JOB'S BODY */

.one-job-body-container {
  position: relative;
  color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-job-body-item {
  margin-bottom: 0.3rem;
}

.one-job-body-city {
  font-weight: bold;
  font-size: 1rem;
}

.one-job-body-zipcode {
  font-weight: bold;
  font-size: 0.87rem;
}

.one-job-body-hidden-item {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  color: #7f7f7f;
}

/* JOB'S FOOTER */

.one-job-body-second-job-icon {
  position: absolute;
  bottom: 0.3rem;
  left: 0.5rem;
  font-size: 1rem;
  color: #ff0000;
}

.one-job-body-waiting-icon {
  position: absolute;
  bottom: 0.2rem;
  right: 0.7rem;
  color: #ff0000;
  font-size: 0.9rem;
  font-weight: bold;
}
