.one-job {
  margin-bottom: 0.7rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.one-job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  /* border-bottom: 1px solid rgb(187, 187, 187); */
  background: linear-gradient(
    180deg,
    rgb(201, 201, 201) 0%,
    rgba(255, 255, 255, 0.7903361173570991) 100%
  );
  font-size: 0.85rem;
  font-weight: bold;
}

.delete-job-btn-container {
  position: relative;
}

.delete-job-btn {
  cursor: pointer;
}

.expand-btn {
  position: absolute;
  right: 0rem;
  bottom: -100%;
  cursor: pointer;
}

.opened {
  transform: scaleY(-1);
}

/* JOB'S HEADER */
.one-job-header {
  color: rgb(92, 92, 92);
}

/* JOB'S BODY PREVIEW */

.one-job-body-preview {
  color: rgb(65, 65, 65);
}

.one-job-body-preview-item-city {
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0.5rem;
  text-align: center;
}

.one-job-body-preview-item-zipcode {
  font-weight: bold;
  font-size: 0.9rem;
}

.one-job-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.one-job-body-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* JOB'S BODY */

.one-job-body-content {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-job-body-content-item-cmr {
  color: #7f7f7f;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

.one-job-body-content-item-terminal {
  color: #7f7f7f;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

.one-job-body-content-item-note {
  font-style: italic;
  color: #7f7f7f;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

/* JOB'S FOOTER */

.one-job-footer {
  padding: 0 0.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one-job-footer-second-job-icon {
  font-size: 1.2rem;
  color: #ff0000;
}

.one-job-footer-weight {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(65, 65, 65);
  padding-bottom: 0.3rem;
}

.one-job-footer-waiting-icon {
  color: #ff0000;
  font-size: 1.1rem;
  font-weight: bold;
}
