.modal-background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  min-height: 100%;
  touch-action: pan-y;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: var(--white-2);
  width: 80%;
  max-width: 450px;
  border-radius: 5px;
  margin: 1.5rem auto 1rem auto;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-heading {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem auto 1rem auto;
  color: var(--text-black);
}

.modal-text {
  margin-bottom: 0.5rem;
}
