.navbar-container {
  height: 4rem;
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(3.5rem + var(--safe-area-inset-bottom)) !important;
  padding-bottom: constant(safe-area-inset-bottom);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--blue-2);
}

.navbar-click-blocker {
  height: 4rem;
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(3.5rem + var(--safe-area-inset-bottom)) !important;
  padding-bottom: constant(safe-area-inset-bottom);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--blue-2);
  z-index: 999;
}

.navbar {
  height: inherit;
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(3.5rem + var(--safe-area-inset-bottom)) !important;
  padding-bottom: constant(safe-area-inset-bottom);
  max-width: 450px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: inherit;
  border-top: inherit;
}

.link {
  color: rgba(163, 163, 163, 0.432);
  font-weight: bold;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active-link {
  color: var(--white-brighter);
  font-size: 1.5rem;
}
