.navbar-container {
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--blue-2);
}

.navbar {
  height: inherit;
  max-width: 450px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: inherit;
  border-top: inherit;
}

.link {
  color: rgba(163, 163, 163, 0.432);
  font-weight: bold;
}

.active-link {
  color: var(--white-brighter);
  font-size: 1.3rem;
}
