:root {
  --counts: #eeeeee;
  --navbar: #2f2fee;
  --weight-focus: rgb(62, 123, 255);
  --dark-1: #272b30;
  --dark-2: #38304d;
  --dark-3: #1d1d1d;
  --green: #2fe46b;
  --red: #e60b0b;
  --blue: #4e6cff;
  --blue-2: #15416e;
  --white-brighter: #ffffff;
  --white-2: #f9fafe;
  --text-black: rgb(29, 29, 29);
}

html {
  min-height: 100%;
  min-height: -webkit-fill-available;
  width: 100%;
  touch-action: pan-y;
}

body {
  min-height: 100%;
  min-height: -webkit-fill-available;
  width: 100%;
  touch-action: pan-y;
  background: rgb(61, 177, 255);
  background: -moz-linear-gradient(
    150deg,
    rgba(61, 177, 255, 1) 0%,
    rgba(142, 210, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    150deg,
    rgba(61, 177, 255, 1) 0%,
    rgba(142, 210, 255, 1) 100%
  );
  background: linear-gradient(
    150deg,
    rgba(61, 177, 255, 1) 0%,
    rgba(142, 210, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3db1ff",endColorstr="#8ed2ff",GradientType=1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Ubuntu", "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01rem;
}

.wrapper {
  height: 100%;
  width: 90%;
  max-width: 450px;
  margin: 2rem auto 6rem auto;
}

.full-page-container-center {
  height: 100dvh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-shadow {
  color: var(--white-2);
  text-shadow: 1px 1px 2px rgb(87, 87, 87);
}

a {
  text-decoration: none;
  color: rgb(59, 95, 255);
}

.relative {
  position: relative;
}

input:focus {
  outline: none;
}

.vis-hidden {
  visibility: hidden;
}

.change-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-form-item {
  margin-bottom: 1rem;
}
