:root {
  --dark-1: #15161f;
  --dark-2: #252738;
  --dark-3: #303347;
  --green: #2dbd5d;
  --red: #ff0000;
  --turquoise: #0df5e3;
  --blue: #007bfe;
  --text-white: rgb(255, 242, 242);
  --text-black: black;
}

html {
  min-height: 100%;
  min-height: --webkit-fill-available;

  background-color: var(--dark-1);

  /* background: rgb(0, 35, 105);
  background: linear-gradient(
    180deg,
    rgba(0, 35, 105, 1) 0%,
    rgba(172, 198, 250, 1) 100%
  ); */
  touch-action: pan-y;
}

body {
  min-height: 100%;
  min-height: --webkit-fill-available;
  touch-action: pan-y;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01rem;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  height: 100%;
  max-width: 450px;
  margin: 2rem auto 3rem auto;

  /* background-color: yellow; */
}

.relative {
  position: relative;
}

input:focus {
  outline: none;
}

.sent-message-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sent-message {
  color: whitesmoke;
  margin-bottom: 2rem;
}
