html {
  min-height: 100%;
  min-height: --webkit-fill-available;
  /* background: rgb(0, 35, 105);
  background: linear-gradient(
    180deg,
    rgba(0, 35, 105, 1) 0%,
    rgb(237, 237, 237) 100%
  ); */
  background: rgb(0, 35, 105);
  background: linear-gradient(
    180deg,
    rgba(0, 35, 105, 1) 0%,
    rgba(172, 198, 250, 1) 100%
  );
  touch-action: pan-y;
}

body {
  min-height: 100%;
  min-height: --webkit-fill-available;
  touch-action: pan-y;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  height: 100%;
  max-width: 450px;
  margin: 2rem auto 3rem auto;

  /* background-color: yellow; */
}

.relative {
  position: relative;
}

input:focus {
  outline: none;
}

.sent-message-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sent-message {
  color: whitesmoke;
  margin-bottom: 2rem;
}
